.form-top-margin{
    margin-top: 2%;
}

/* For heading of sign up page and admin panel page*/ 
.heading{
    color: #668cff;
    margin-bottom: 6%;
}

/* For every label in sign up page and admin panel page*/
.label-input{
    color: black;
    margin-bottom: 3px !important;
}

/* For radio button used in sign up page */
.radio-btn-input{
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* Padding for submit button */
.submit-pad{
    margin-top: 5px;
}

/* For every result in search result page */
.result-body{
    margin-top: 15px;
    margin-bottom: 15px;
}

/* For main result body */
.result-main{
    background: transparent;
}

/* For every result displayed in list */
.result{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* For margin at bottom of first line of result body */
.result-line{
    margin-bottom: 20px;
}

/* To display flight name, price bloder */
.big-font{
    font-size: 150%;
}

/* To display departure time, journey hours and seats 
   to display larger but not larger than flight-name */
.mid-font{
    font-size: 120%;
}

.label-info{
    color: black;
}

.heading-info{
    margin-top: 1%;
    margin-bottom: 1%;
    color: #668cff!important;
    font-size: 200%;
}
